spring:
  datasource:
    username: root # change this
    password: root # change this
    url: jdbc:mysql://127.0.0.1:3306/middleware_platform?useUnicode=true&characterEncoding=utf-8&serverTimezone=UTC # change this
    driver-class-name: com.mysql.cj.jdbc.Driver
  servlet:
    multipart:
      max-file-size: 10GB
      max-request-size: 10GB
  resources:
    static-locations: file:/MyPath/upload,classpath:/META-INF/resources/,classpath:/resources/,classpath:/static/,classpath:/public/ # change this
  jackson:
    time-zone: GMT+8
    date-format: yyyy-MM-dd HH:mm:ss
    serialization:
      write-dates-as-timestamps: false
mybatis-plus:
  mapper-locations: classpath:mapping/*.xml
logging:
  level:
    com.harmonycloud.tool.api: debug
    com.harmonycloud.caas.filters.filters: debug
    root: info

management:
  endpoint:
    health:
      show-components: always
  health:
    # 不检查es
    elasticsearch:
      enabled: false

#调用远程服务
feign:
  hystrix:
    enabled: false

ribbon:
  #请求处理的超时时间
  ReadTimeout: 10000
  #请求连接的超时时间
  ConnectTimeout: 5000

k8s:
  namespace:
    # 受保护的分区，不能给前端使用
    protect: default,kube-system,kube-public,cluster-top,cicd,caas-system,kube-federation-system,harbor-system,logging,monitoring,velero,middleware-system
    label: middleware=true
  token:
    # debug时填写本地的token文件路径，有默认值，仅开发使用
    path: /MyPath/kube-token # change this
  service:
    # 默认kubernetes fabric8客户端的地址，有默认值，仅开发使用
    host: 127.0.0.1
    port: 6443
  kubeconfig:
    # debug时填写本地的kube config文件路径，有默认值，仅开发使用
    path: /MyPath/upload # change this

#分页pageHelper
pagehelper:
  helper-dialect: mysql
  reasonable: true
  support-methods-arguments: true

system:
  upload:
    # debug时填写自己本地的一个可访问的目录，仅开发使用，默认值：/usr/local/Zeus-pv/upload
    path: /MyPath/upload
  images:
    path: /MyPath/upload/images
  user:
    username: admin
    # 密码Ab123456!
    password: 5B99164F828AED74140E5FDA077B634C
    # token有效期，8小时
    expire: 8
  platform:
    #平台版本
    version: v0.2.1
#ssl
server:
  ssl:
    key-alias: zeushttps
    key-store-password: Ab123456
    key-store: classpath:config/zeus.jks