args:
  root_password: "ZeuS@Middleware01"
  character_set_server: "utf8mb4"
  wait_timeout: 600
  interactive_timeout: 600
  innodb_flush_log_at_trx_commit: 2
  sql_mode: NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES,NO_AUTO_CREATE_USER,ERROR_FOR_DIVISION_BY_ZERO
  server_port: 3306
  slow_query_log: "ON"
  #max_connections: 600
  #innodb_buffer_pool_size: 1G
  #slave_parallel_workers: 8

# 默认使用5.7版本; 如需使用8.0版本，则值改为8.0
version: "5.7"
# master-slave or slave-slave
type: master-slave
# semi-sync or group-replication
syncMode: semi-sync
ssh:
  enabled: false

storageSize: 10G
#storageClassName: default

service: {}
#  nodePort: 30066
#  readOnlyNodePort: 30067

businessDeploy: []
# - database: db01
  # pwd: "yourpassword"
  # user: user01

init_at_setup:
  enabled: true
  #init_sql: |-
  #  create database business_ability;

replicaCount: 2

image:
  repository: harbor.middleware.com/middleware
  middlewareImageTag: v5.7.35-hc.4
  middlewareImageTag_8: v8.0.26-hc.3
  initImageTag: 1.1.2
  initImageTag_8: 1.0.6-8.0
  monitorImageTag: v0.12.1
  backupRestoreImageTag: v1.2.0-hc.7
  backupRestoreImageTag_8: v8.0-2
  helmtestImageTag: v1.0.0
  pullPolicy: IfNotPresent
  testImageTag: v0.3
  logrotateImageTag: 1.3
  proxyImageTag: 2.3.2

nameOverride: ""
fullnameOverride: ""

resources:
  limits:
    cpu: "1"
    memory: 2Gi
  requests:
    cpu: "200m"
    memory: 512Mi


storageProvider: {}
#  minio:
#    endpoint: http://10.1.10.63:30894
#    bucketName: mybucket
#    backupFileName: mysql-example-2020-11-10-150727.gz
#    accessKeyId: minio
#    secretAccessKey: Hc@Cloud01

nodeAffinity: {}

updateStrategy: RollingUpdate

# 支持扩展Spec
statefulSetConfiguration: {}
  # tolerations:
  # - key: "example-key1"
  #   operator: "Exists"
  #   effect: "NoSchedule"

tolerations: {}
#- key: "example-key"
#  operator: "Exists"
#  effect: "NoSchedule"

podAntiAffinityTopologKey: "kubernetes.io/hostname"

#取值[hard|soft] hard:强制反亲和 soft:非强制反亲和
podAntiAffinity: "soft"

replication:
  enabled: false

recycle:
  enabled: true

annotations: {}

labels: {}
proxy:
  enable: false
  resources:
    limits:
      cpu: 1000m
      memory: 2048Mi
    requests:
      cpu: 500m
      memory: 1024Mi

features:
  threadpool:
    enabled: false 
  recycle:
    enabled: false
  bufferpoolControl:
    enabled: false
  auditLog:
    enabled: false
