global:
  repository: middleware.harmonycloud.cn:58080/middleware
  namespace: zeus
  storageClass: default
  replicaCount: 1
  zeus:
    image: zeus
    tag: v1.1.1
    pullPolicy: Always
    resources:
      requests:
        cpu: 1000m
        memory: 2Gi
      limits:
        cpu: 2000m
        memory: 4Gi
    nodeSelector: {}
  zeus_ui:
    image: zeus-ui
    tag: v1.1.1
    pullPolicy: Always
    nodePort: 31088
    resources:
      requests:
        cpu: 200m
        memory: 256Mi
      limits:
        cpu: 500m
        memory: 512Mi
    nodeSelector: {}
  zeus_mysql:
    replicaCount: 1
    image: zeus-mysql
    tag: v1.0.0
    pullPolicy: Always
    resources:
      requests:
        cpu: 200m
        memory: 256Mi
      limits:
        cpu: 500m
        memory: 512Mi