<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.harmonycloud.zeus.dao.BeanAlertRecordMapper">

    <select id="queryByTimeAndLevel" resultType="map">
        SELECT count(`time`) num,date_format(`time`,'%Y-%m-%d %H:00:00') alerttime FROM middleware_platform.alert_record
        WHERE `time` &gt;= #{beginTime} AND `time` &lt;= #{endTime} AND `level` = #{level} AND `cluster_id` != "" AND `namespace` != "" AND `name` != ""
        AND lay = "service"
        GROUP BY alerttime ORDER BY `time` DESC;
    </select>

</mapper>