apiVersion: v1
data:
  my.cnf.tmpl: |
    # version 1
    [mysqld]
    #************** basic ***************
    {{- if eq .Values.version "8.0" }}
    default-authentication-plugin   =mysql_native_password
    plugin_dir=/usr/lib64/mysql/plugin/
    {{- end }}
    {{- if eq .Values.version "5.7" }}
    query_cache_type                ={{ .Values.args.query_cache_type | default "OFF" }}
    query_cache_size                ={{ .Values.args.query_cache_size | default 0 }}
    sql_mode                        ={{ .Values.args.sql_mode | default "NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES,NO_AUTO_CREATE_USER,ERROR_FOR_DIVISION_BY_ZERO" }}
    internal_tmp_disk_storage_engine    =InnoDB
    {{- end }}
    plugin-load                     =rpl_semi_sync_master=semisync_master.so;rpl_semi_sync_slave=semisync_slave.so
    datadir                         =/data/mysql/DBNAME/data
    #basedir                         =/usr/local/mysql
    tmpdir                          =/data/mysql/DBNAME/tmp
    secure_file_priv                =/data/mysql/DBNAME/tmp
    port                            =MYSQLPORT
    socket                          =/data/mysql/DBNAME/conf/mysql.sock
    pid_file                        =/data/mysql/DBNAME/conf/mysql.pid
    #************** connection ***************
    {{- $memory := regexFind "[0-9]*" .Values.resources.limits.memory }}
    {{- if or (contains "MI" (upper .Values.resources.limits.memory)) (contains "M" (upper .Values.resources.limits.memory)) }}
    {{- $maxConnectionsMemory := div $memory 4 }}
    {{- $bufferMemory := printf "%d%s" (div (mul $memory  1) 2) "M" }}
    max_connections                 ={{ .Values.args.max_connections | default $maxConnectionsMemory }}
    innodb_buffer_pool_size         ={{ .Values.args.innodb_buffer_pool_size | default $bufferMemory }} }}
    {{- else if or (contains "GI" (upper .Values.resources.limits.memory)) (contains "G" (upper .Values.resources.limits.memory)) }}
    {{- $maxConnectionsMemory := div (mul $memory  1024) 4 }}
    {{- $bufferMemory := printf "%d%s"  (div (mul $memory  1) 2) "G" }}
    {{- if eq $maxConnectionsMemory 0 }}
    {{- $maxConnectionsMemory = 256 }}
    {{- end }}
    {{- if eq $bufferMemory "0G" }}
    {{- $bufferMemory = "400M" }}
    {{- end }}
    max_connections                 ={{ .Values.args.max_connections | default $maxConnectionsMemory }}
    innodb_buffer_pool_size         ={{ .Values.args.innodb_buffer_pool_size | default $bufferMemory  }}
    {{- end }}
    max_connect_errors              ={{ .Values.args.max_connect_errors | default 100000 }}
    max_user_connections            ={{ .Values.args.max_user_connections | default 1200 }}
    #************** sql timeout & limits ***************
    max_execution_time              ={{ .Values.args.max_execution_time | default 10000 }}
    group_concat_max_len            ={{ .Values.args.group_concat_max_len | default 1048576 }}
    lock_wait_timeout               ={{ .Values.args.lock_wait_timeout | default 60 }}
    #autocommit                      =0
    lower_case_table_names          ={{ .Values.args.lower_case_table_names | default 1 }}
    thread_cache_size               ={{ .Values.args.thread_cache_size | default 64 }}
    disabled_storage_engines        ={{ .Values.args.disabled_storage_engines | default "MyISAM,FEDERATED" }}
    character_set_server            ={{ .Values.args.character_set_server | default "utf8mb4" }}
    transaction-isolation           ={{ .Values.args.transaction_isolation | default "READ-COMMITTED" }}
    skip_name_resolve               ={{ .Values.args.skip_name_resolve | default "ON" }}
    explicit_defaults_for_timestamp ={{ .Values.args.explicit_defaults_for_timestamp | default "ON" }}
    log_timestamps                  ={{ .Values.args.log_timestamps | default "SYSTEM" }}
    local_infile                    ={{ .Values.args.local_infile | default "OFF" }}
    event_scheduler                 ={{ .Values.args.event_scheduler | default "OFF" }}
    lc_messages                     ={{ .Values.args.lc_messages | default "en_US" }}
    #lc_messages_dir                 =/usr/local/mysql/share
    init_connect                    ="set names {{ .Values.args.character_set_server }}"
    #init_file                       =/data/mysql/DBNAME/conf/init_file.sql
    #init_slave
    #******************* err & slow & general ***************
    log_error                       =/data/mysql/DBNAME/elog/mysql.err
    #log_output                      ="TABLE,FILE"
    slow_query_log                  ={{ .Values.args.slow_query_log | default "ON" }}
    slow_query_log_file             =/data/mysql/DBNAME/elog/slow.log
    long_query_time                 ={{ .Values.args.long_query_time | default 1 }}
    log_queries_not_using_indexes   ={{ .Values.args.log_queries_not_using_indexes | default 0 }}
    log_throttle_queries_not_using_indexes = {{ .Values.args.log_throttle_queries_not_using_indexes | default 10 }}
    general_log                     ={{ .Values.args.general_log | default "OFF" }}
    general_log_file                =/data/mysql/DBNAME/elog/general.log
    #************** binlog & relaylog ***************
    expire_logs_days                ={{ .Values.args.expire_logs_days | default 7 }}
    sync_binlog                     ={{ .Values.args.sync_binlog | default 1 }}
    log-bin                         =/data/mysql/DBNAME/log/mysql-bin
    log-bin-index                   =/data/mysql/DBNAME/log/mysql-bin.index
    max_binlog_size                 ={{ .Values.args.max_binlog_size | default "500M" }}
    binlog_format                   ={{ .Values.args.binlog_format | default "ROW" }}
    binlog_rows_query_log_events    ={{ .Values.args.binlog_rows_query_log_events | default "ON" }}
    binlog_cache_size               ={{ .Values.args.binlog_cache_size | default "128k" }}
    binlog_stmt_cache_size          ={{ .Values.args.binlog_stmt_cache_size | default "128k" }}
    max_binlog_cache_size           ={{ .Values.args.max_binlog_cache_size | default "2G" }}
    max_binlog_stmt_cache_size      ={{ .Values.args.max_binlog_stmt_cache_size | default "2G" }}
    relay_log                       =/data/mysql/DBNAME/log/relay
    relay_log_index                 =/data/mysql/DBNAME/log/relay.index
    max_relay_log_size              ={{ .Values.args.max_relay_log_size | default "500M" }}
    relay_log_purge                 ={{ .Values.args.relay_log_purge | default "ON" }}
    relay_log_recovery              ={{ .Values.args.relay_log_recovery | default "ON" }}
    #*************** rpl_semi_sync ***************
    {{- if eq .Values.version "5.7" }}
    rpl_semi_sync_master_enabled                =ON
    rpl_semi_sync_master_timeout                =1000
    rpl_semi_sync_master_trace_level            =32
    rpl_semi_sync_master_wait_for_slave_count   =1
    rpl_semi_sync_master_wait_no_slave          =ON
    rpl_semi_sync_master_wait_point             =AFTER_SYNC
    rpl_semi_sync_slave_enabled                 =ON
    rpl_semi_sync_slave_trace_level             =32
    {{- end }}
    #*************** group commit ***************
    binlog_group_commit_sync_delay              =1
    binlog_group_commit_sync_no_delay_count     =1000
    #*************** gtid ***************
    gtid_mode                       =ON
    enforce_gtid_consistency        =ON
    master_verify_checksum          =ON
    sync_master_info                ={{ .Values.args.sync_master_info | default 1 }}
    #*************slave ***************
    skip-slave-start                =1
    {{- if gt (.Values.replicaCount | int) 1 }}
    read_only                       =ON
    {{- end }}
    #super_read_only                 =ON
    log_slave_updates               =ON
    server_id                       =SERVER_ID
    report_host                     =Other_Mysql
    report_port                     =MYSQLPORT
    slave_load_tmpdir               =/data/mysql/DBNAME/tmp
    slave_sql_verify_checksum       =ON
    slave_preserve_commit_order     =1
    #*************** muti thread slave ***************
    slave_parallel_type                         =LOGICAL_CLOCK
    slave_parallel_workers          ={{ .Values.args.slave_parallel_workers | default 8 }}
    master_info_repository                      =TABLE
    relay_log_info_repository                   =TABLE
    #*************** buffer & timeout ***************
    read_buffer_size                ={{ .Values.args.read_buffer_size | default "1M" }}
    read_rnd_buffer_size            ={{ .Values.args.read_rnd_buffer_size | default "2M" }}
    sort_buffer_size                ={{ .Values.args.sort_buffer_size | default "1M" }}
    join_buffer_size                ={{ .Values.args.join_buffer_size | default "1M" }}
    tmp_table_size                  ={{ .Values.args.tmp_table_size | default "64M" }}
    max_allowed_packet              ={{ .Values.args.max_allowed_packet | default "64M" }}
    max_heap_table_size             ={{ .Values.args.max_heap_table_size | default "64M" }}
    connect_timeout                 ={{ .Values.args.connect_timeout | default 10 }}
    wait_timeout                    ={{ .Values.args.wait_timeout | default 600 }}
    interactive_timeout             ={{ .Values.args.interactive_timeout | default 600 }}
    net_read_timeout                ={{ .Values.args.net_read_timeout | default 30 }}
    net_write_timeout               ={{ .Values.args.net_write_timeout | default 30 }}
    #*********** myisam ***************
    skip_external_locking           ={{ .Values.args.skip_external_locking | default "ON" }}
    key_buffer_size                 ={{ .Values.args.key_buffer_size | default "16M" }}
    bulk_insert_buffer_size         ={{ .Values.args.bulk_insert_buffer_size | default "16M" }}
    concurrent_insert               ={{ .Values.args.concurrent_insert | default "ALWAYS" }}
    open_files_limit                ={{ .Values.args.open_files_limit | default 65000 }}
    table_open_cache                ={{ .Values.args.table_open_cache | default 16000 }}
    table_definition_cache          ={{ .Values.args.table_definition_cache | default 16000 }}
    #*********** innodb ***************
    default_storage_engine              =InnoDB
    default_tmp_storage_engine          =InnoDB
    innodb_data_home_dir                =/data/mysql/DBNAME/data
    innodb_log_group_home_dir           =/data/mysql/DBNAME/log
    innodb_log_file_size                ={{ .Values.args.innodb_log_file_size | default "1024M" }}
    innodb_log_files_in_group           ={{ .Values.args.innodb_log_files_in_group | default 3 }}
    innodb_undo_directory               =/data/mysql/DBNAME/log
    innodb_undo_log_truncate            ={{ .Values.args.innodb_undo_log_truncate | default "on" }}
    innodb_max_undo_log_size            ={{ .Values.args.innodb_max_undo_log_size | default "1024M" }}
    innodb_undo_tablespaces             ={{ .Values.args.innodb_undo_tablespaces | default 3 }}
    innodb_flush_log_at_trx_commit      ={{ .Values.args.innodb_flush_log_at_trx_commit | default 2 }}
    innodb_fast_shutdown                ={{ .Values.args.innodb_fast_shutdown | default 1 }}
    innodb_flush_method                 ={{ .Values.args.innodb_flush_method | default "O_DIRECT" }}
    innodb_io_capacity                  ={{ .Values.args.innodb_io_capacity | default 1000 }}
    innodb_io_capacity_max              ={{ .Values.args.innodb_io_capacity_max | default 4000 }}
    innodb_log_buffer_size              ={{ .Values.args.innodb_log_buffer_size | default "32M" }}
    innodb_autoinc_lock_mode            ={{ .Values.args.innodb_autoinc_lock_mode | default 1 }}
    innodb_buffer_pool_load_at_startup  ={{ .Values.args.innodb_buffer_pool_load_at_startup | default "ON" }}
    innodb_buffer_pool_dump_at_shutdown ={{ .Values.args.innodb_buffer_pool_dump_at_shutdown | default "ON" }}
    innodb_buffer_pool_dump_pct         ={{ .Values.args.innodb_buffer_pool_dump_pct | default 15 }}
    innodb_max_dirty_pages_pct          ={{ .Values.args.innodb_max_dirty_pages_pct | default 85 }}
    innodb_lock_wait_timeout            ={{ .Values.args.innodb_lock_wait_timeout | default 10 }}
    #innodb_locks_unsafe_for_binlog      =1
    innodb_old_blocks_time              ={{ .Values.args.innodb_old_blocks_time | default 1000 }}
    innodb_open_files                   ={{ .Values.args.innodb_open_files | default 63000 }}
    innodb_page_cleaners                ={{ .Values.args.innodb_page_cleaners | default 4 }}
    innodb_strict_mode                  ={{ .Values.args.innodb_strict_mode | default "ON" }}
    innodb_thread_concurrency           ={{ .Values.args.innodb_thread_concurrency | default 0 }}
    innodb_sort_buffer_size             ={{ .Values.args.innodb_sort_buffer_size | default "64M" }}
    innodb_print_all_deadlocks          ={{ .Values.args.innodb_print_all_deadlocks | default 1 }}
    innodb_rollback_on_timeout          ={{ .Values.args.innodb_rollback_on_timeout | default "ON" }}
    innodb_adaptive_hash_index          ={{ .Values.args.innodb_adaptive_hash_index | default "ON" }}
    performance_schema_max_table_instances ={{ .Values.args.performance_schema_max_table_instances | default -1 }}
    #*************** plugins ***************
    {{- if .Values.features.threadpool.enabled }}
    plugin-load-add=threadpool.so
    {{- end }}

    {{- if .Values.features.recycle.enabled }}
    plugin-load-add=recycle_bin.so
    recycle_bin_enabled=ON
    {{- end }}

    {{- if .Values.features.bufferpoolControl.enabled }}
    plugin-load-add=buffer_pool_control.so
    buffer_pool_control_enabled=ON
    {{- end }}

    {{- if .Values.features.auditLog.enabled }}
    plugin-load-add=libaudit_plugin.so
    audit_json_log_file             =/data/mysql/DBNAME/elog/mysql-audit.json
    audit_whitelist_users           =operator,healthchecker,replic,zabbixjk,boot,skip-grants user
    audit_json_file                 =ON
    {{- end }}

kind: ConfigMap
metadata:
  name: {{ include "mysql.fullname" . }}-config
