apiVersion: v1
data:
  application-prd.yml: |-
    spring:
      datasource:
        username: root # change this
        password: ZeuS@Middleware01 # change this
        url: jdbc:mysql://zeus-mysql/middleware_platform?useUnicode=true&characterEncoding=utf-8 # change this
        driver-class-name: com.mysql.cj.jdbc.Driver
      servlet:
        multipart:
          max-file-size: 10GB
          max-request-size: 10GB
      resources:
        static-locations: file:/usr/local/zeus-pv,classpath:/META-INF/resources/,classpath:/resources/,classpath:/static/,classpath:/public/
      jackson:
          time-zone: GMT+8
          date-format: yyyy-MM-dd HH:mm:ss
          serialization:
            write-dates-as-timestamps: false
    mybatis-plus:
      mapper-locations: classpath:mapping/*.xml

    management:
      endpoint:
        health:
          show-components: always
      health:
        elasticsearch:
          enabled: false

    #调用远程服务
    feign:
      hystrix:
        enabled: false

    ribbon:
      ReadTimeout: 10000
      ConnectTimeout: 5000

    #分页pageHelper
    pagehelper:
      helper-dialect: mysql
      reasonable: true
      support-methods-arguments: true

    k8s:
      namespace:
        protect: default,kube-system,kube-node-lease,kube-public,caas-system,harbor-system,logging,monitoring,velero,middleware-system,zeus
        label: middleware=true
      kubeconfig:
        path: /usr/local/kubeconfig
      crd:
        middlewareCrdYamlPath: /usr/local/zeus-pv/middleware-crd.yaml
    system:
      upload:
        path: /usr/local/zeus-pv/upload
      images:
        path: /usr/local/zeus-pv/images/middleware
    platform:
      version: v0.1.1

    overview:
      overall:
        monitor:
          realtime:
            before: 300
            duration: 60
    #ssl
    server:
      http:
        port: 8080
      port: 8443
      ssl:
        key-alias: zeushttps
        key-store-password: Ab123456
        key-store: /cfg/zeus.jks
kind: ConfigMap
metadata:
  name: zeus-config
  namespace: {{ .Values.global.namespace }}
---
apiVersion: v1
binaryData:
  zeus.jks: MIIKAQIBAzCCCboGCSqGSIb3DQEHAaCCCasEggmnMIIJozCCBW8GCSqGSIb3DQEHAaCCBWAEggVcMIIFWDCCBVQGCyqGSIb3DQEMCgECoIIE+zCCBPcwKQYKKoZIhvcNAQwBAzAbBBTFh/Q5z23btcJ1kIIaHv7oByu2/QIDAMNQBIIEyCRlomSdQA3P3tbXbyhFHfM0tgiPMKbAz+sLN/MoiB8jbxC2xBswRcA27bKIKo7aHYCymwRYU/9dpqyO/1iIg1om2Pz+fneGt9vEr3/NltHoSMUnYoDfXF5xllj9fh2TH5JO8MUnl1jlKJPJTa080Q11Ev1aMlCXDxN29WgDab9mCoKaHd1zquNYFTAm8q+6FN0c0AgrSUK6X3CCBKhDjv6sAFmMY8VQuSSeEaqI9FVTsY4LAUGd8kuOzNc50xPfO/o2uNSTzbQNS2qnKq0v6TiY4RIJN2hoc+WWdYfaBabQXRM2EZqaG/fXOFTfrEQRjUdyLA6hMuxTbX34dwSklAUpTY69iJy3GoFV/ZJOjd0G9YEuaJz2eTzgsShoEohkjz3JYlMd1CYqo8Aw84HXYpQBddtUtsyNpbw5bxF29L+oLmUZJ8qngUcCvwZs7gf69bkjcJf1B0yUrYQyDa8VfYuLbcd5PXcCJMDWGlEBDY0QaCn+dCk6PVyMo/tR8mvZQ2JMCsjKYrj3sH2V1WUefB6NbNN7lK0KZLK0HdhHSndcTw0lSbp5dYeDmqkz5MyBK1X25Hs5B8/+l1eyNgQeqknZwAmILpCeTa30L/FVgPTUp/+bTlC9TzfSBq4EDlv6VZNqqparuXiaMtqdhggmrvKS5JLm/mbObyAA1u0UK37tw5d400P7K/dacm23vufQGW6Yu6RtQwggy0t9JG5q6QPRTxnAqxUWbq0zW8GcrWOM2S8NmBnQaJzy2H94pc+PaQHtZWW4Aww0mxKW/KD2GNl7Dx9LX8qiobpKfT0cz3CoYKp8uAPGVkAf66PBDLkGgbmNUBwo1chNFu3hGNjsjR2SyH4iFq9zkfRDDWpfHa7KfxY6ueANK8LDIFUUidGnqgFm9xWYDkbVwa94nMGGIWKmqhNa3r/6hzl80XQP7Mo18S1TKLqn9uP7OMpCnDvjfLYfY6LmQEkWJl0CDSwEq/y+4mXwqUcmavFLF9Iq1Hf0aopWu8mZrUdiaSihAgsG/ybqKlwtzzs8rAZWL0mYVD6CwyPRGjEPZ8pt0DkVpaDSdHTsuFILbiU/T2D5gbgaEeBFGGi6O1dVTAH5STxc2oVKhAVWr2UYieXhJPG2BXpP7UvOs7mOEK6RAM8HYI3jRV237FGZi0mJIbClUDM0LA4Iqmtl8y393QDaTSk8E5oodo8fsZlebZbLju7Rim0Sl98o6SRJ0FjSKE4yt4tyH2uXdUf2ddPF/0EPP8g04RI8VSoYZ1XR1LLhpPv+gvsivFF1lWQmJFwagTFdsRMygYrYqigSbo/bqV1BN6ur2QVFx6v9sSVVwcglJwTljAFRBExuC9h0/7LSCKInKTqjRVI3PP2mGxzcDXeaeG2L5eb3k/DU1A5oo6IdnH7kYxh3TTHJyMIZ+C/bXDUA0KNU8mCKhX+zG10TXKcZj76KJQ6cIAwK0bCAPD0Dmc2Nu2vmDajwtwFNarnGnjIiavN+1w0dsa6FPB89dVSVb6TllcYnI4NsitomzdEiUg39918dlcGhQIZzsbbflBxIChTB3PWDAXpwuAazVnF+h0jDkn5P7sNwZhLTHKuyOzU3Z0czqBGb9E/T23LIueuYzjV1gg9I3x+QPi/EVTFGMCEGCSqGSIb3DQEJFDEUHhIAegBlAHUAcwBoAHQAdABwAHMwIQYJKoZIhvcNAQkVMRQEElRpbWUgMTYzMDY0OTQ0OTUxMjCCBCwGCSqGSIb3DQEHBqCCBB0wggQZAgEAMIIEEgYJKoZIhvcNAQcBMCkGCiqGSIb3DQEMAQYwGwQUAPSu+ksM5RujtQ38BIGSYfIL4pkCAwDDUICCA9iGRGfifR/TwClWDg5Khdi0ZPdTLfs6jrxZSLLaq6n7CMA/Zo7DeW2grHTiSO863eUoqi78qjPyvXpa66EQfDqdmxoWgqIp5K/okJxJ+TAap4/9Fx+7uRz5El8Q3/WidMOcVImOPq6IB/Z64LCcIVIGpNm3rJ93yY2IUukriCb8/cZX4rCVmZDPymFJl8irdsLJGUvVEiQQ+xpAnattiA9z0W3EiDN8A/DUP5frF8dPusKWoRcAk++S08jMTdH/rpF5WEM32PFTzSESUkfnyjgvBB4K31VJzO0zutxL7kf/osWL5oRq5n64m1MivFd3uEmh8BqqcUq7OMZr2hlUFe/PzfMxK2vU/uGjdMgLwe3fybx5jwRixBKWGrdLi0FPW0Ra/75uuqSf+VrJtEVpBqnLJDIquntm155WpWWLrAYkJgL1rn+8kND00P9VqzE9kTpVBRdPDOP3OEesXElbC5e7IAd/DJ3CDkRMhGUjeagzstxkIyAfKVS3HkSLmMqm8cvVLdQe8GG7JcUS6IpvkJBUdrKpofehZ4uatGufLAtJ5U3IKc/qaLjz4GvdQJXljkskjXsLDoObMKWoh3IkrIY64EoCkgH5owqQiLUUqIP96UnYwwCZpZco65Qe9HZK/GPSaksl4UNGQ+W7POa2nWlrjLjoYPXE9Y4NG15RJVd+KdXMht2FjvzL696sJ9kr545EfQ7Lkc+KQDDdagm+i8JVrReVf2M+pbNQH1VqweaWL6PLaevPXZocoVImhcquVxRJZkebpd+eGAhYkbS+GLNfbBOwAIrc9pw2oxRFIFFXlSkDtjSmuy1Jc7N8feo5hv9OfRHRkSKAHnmx4Y4o4FW0nSNMT/Kdh1MnBLDJpzKgxvTHLXM6JXOkunODpv3u0zvTbnMI4YUm9VkVP88xNeq3ZIJG6VT/EJ0YCkSlNE/r4U0NGLS+CKS4nptxBZafwQR6nmWpjLv53Ej3YFVo8K3zdVylKRUXdsQdRcBr71jh5HFSul/E5isY3En9gSVJyXZHHpwB41BTc2YJHnf0kfJ5iApQJT/B+CwlrhIDWr1Y3/cJSZU87v200IBqxlTYfsfUZVIJJlNo0JJhmy20lYfB6FV66NHQ/+G3IZKaWBP6AGlm9F2N8sYmnYBiYF0VfRajUf9wHBE87U3ZyivILq1+KQ/pH0BKlOOotEC5oMP0BUnPvMY3azDiv97coliRqVKOcjxeEejwQHCUoBjFmMfy7ut+2UVneX/M0Ks9YU3RaGVaWMFZYDH4vgSMOu+X/vwMvkwZnyHI74CqO6aqyoYsQDlw9KufOxgwPjAhMAkGBSsOAwIaBQAEFEwaCN3BaZCt9LWbOxYC6yTijnvsBBTSAK9jFm8pB/SdwiIhsVG6+ajgrgIDAYag
kind: ConfigMap
metadata:
  name: zeus-jks
  namespace: {{ .Values.global.namespace }}